<body>
    <div>
        <h4>Index</h4>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
    </div>
    <h1>About my Astro site</h1>
    <h2>About Me</h2>
</body>