---
import BlogPost from '../components/BlogPost.astro';
import TagPost from '../components/TagPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getStaticPaths } from './tags/[tag].astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
const getTagParams = await getStaticPaths()
const allTags = []
for(let i = 0; i < 6; i++) { 
    let tag = getTagParams[i].params.tag
    allTags.push(tag)
}
console.log(allTags)
---
<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <BlogPost type='blog' url={post.url} title={post.frontmatter.title}/>)}
  </ul>
  <p>Search using a tag</p>
    <ul>
        {allTags.map((tag) => <TagPost tag={tag}/>)}
    </ul>
</BaseLayout>